html,
body,
div#root,
div.screen_wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}


div.screen_wrapper {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1.1s ease, visibility ease 1.1s;
}

div.screen_wrapper.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

html,
body {
  background: transparent;
}

.containers {
  width: 100%;
  height: 100%;
  width: min(100vw, 133.33333vh);
  height: min(100vh, 75vw);
  position: relative;
  //background-color: rgba(0, 255, 0, 0.3);
}

.wrongPassFeedback {

  margin: 0.5rem 0 0.25rem 0;
  font-size: 14px;
}