@use "sass:color";
@use "mail/variables" as *;

/* --------- GENERAL ---------*/
* {
  box-sizing: border-box;
  margin: 0 auto;

  &::selection {
    background-color: color.scale($contrast-color, $lightness: 10%);
  }

  &:focus {
    outline: none;
  }
}

.mailScreen {
  font-family: $typeface;
  font-size: 13px;
  color: $typecolor;
  background-color: $background;

  &.wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    overflow: hidden;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    color: #00B7FF;
    text-decoration: none;
    margin: 0;
  }

  h1 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  h2 {
    font-size: .9rem;
    font-weight: 500;
    margin: 0;
  }

  h3 {
    font-size: .9rem;
    font-weight: 500;
  }

  .button1 {
    background: $primary-color;
    border: none;
    color: white;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    text-align: center;
    padding: .5rem 1.2rem .5rem 1.2rem;
    font-size: .8rem;
    cursor: pointer;
  }

  input {
    border-radius: 20px;
    border: solid .5px $secundary-color;
    box-shadow: inset 1px 1px 3px 0px rgba(0, 0, 0, 0.16);
  }
}

/* --------- SCROLLBAR ---------*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background;
  box-shadow: inset 1px 1px 5px 2px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color.adjust($secundary-color, $lightness: 8%);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color.adjust($secundary-color, $lightness: -5%);
}