@use "sass:color";
@use "variables" as *;

.col1 {
    width: 20%;
    padding: 1rem .5rem 0 0;
    display: flex;
    flex-direction: column;
    border-right: solid 1.2px color.adjust($secundary-color, $lightness: 6%);
    justify-content: flex-start;
    gap: 40px;

    .top1 {
        width: 100%;
        padding: 0 0 0 1rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        .menu1 {
            width: 20%;
            margin: 0;

            img {
                height: 30px;
                width: 30px;
                cursor: pointer;
            }
        }

        .logo1 {
            width: 6rem;
            margin: 0;
            @include img;
        }
    }

    .user1 {
        width: 100%;
        padding: 0 0 0 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;

        .picture1 {
            margin: 0;
            @include profile1;
        }

        .user_info {
            width: 70%;
            margin: 0 0 0 .8rem;

            .name1 {
                display: flex;
                align-items: center;

                .fas {
                    color: $secundary-color;
                }
            }
        }
    }

    .actions1 {
        width: 100%;
        font-size: .8rem;
        font-weight: 500;
        padding: 0 2rem 0 0;

        li {
            width: 100%;
            padding: .5rem 1rem .5rem 3rem;
            border-radius: 0 2rem 2rem 0;
            cursor: pointer;
            display: flex;
            gap: .5rem;


            span {
                margin: 0 0 0 auto;
            }

            img {
                height: 20px;
                width: 20px;
                margin: 0;
                object-fit: contain;
                object-position: center;
            }

            &:hover {
                background-color: color.adjust($secundary-color, $lightness: 13%);
                font-weight: 700;
                transition: 0.3s;
            }
        }

        .a1_selected {
            background-color: color.adjust($primary-color, $lightness: 45%);
            color: $primary-color;
            font-weight: 700;

            &:hover {
                background-color: color.adjust($primary-color, $lightness: 50%);
                font-weight: 700;
            }
        }
    }

    .contacts {
        width: 100%;
        overflow: auto;
        height: 270px;
        padding: 1rem;
        margin-bottom: 1rem;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;

        .contact {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            cursor: pointer;
            padding: .6rem;
            margin: .2rem 0 .2rem 0;

            &:hover {
                background-color: color.adjust($secundary-color, $lightness: 13%);
            }

            .picture2 {
                @include profile2;
            }

            .contact_info {
                width: 70%;
                margin: 0;

                .name2 {
                    display: flex;
                    align-items: center;
                    font-size: .8rem;
                    font-weight: 500;

                    span {
                        border-radius: 50%;
                        width: 9px;
                        height: 9px;

                        &:first-child {
                            flex: 1;
                        }
                    }

                    .online {
                        background-color: $green;
                    }

                    .offline {
                        background-color: $red;
                    }
                }

                .mail2 {
                    color: color.adjust($typecolor, $lightness: 40%);
                    padding: .2rem 0 0 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 99%;
                    float: left;
                    margin-top: 5px;
                }
            }
        }
    }
}